body {
  background-color: red;
}
.offcanvas {
  position: fixed;
  left: 0px;
  width: 120px;
  background-color: #dedede;
  height: 100%;
  padding-top: 5%;
  transition: width 1s;
}
.offcanvas:hover {
  width: 320px;
}
/*
.menu-text {
  display:none;
}
*/
.menu-text {
  display: table-cell;
}
.offcanvas:hover .menu-text {
  display: table-cell;
}
.header ul.sidenav {
  display: table;
  float: none;
  margin: 0px;
  padding: 0px;
}
.header ul.sidenav li {
  display: table-row;
}
.header ul.sidenav li,
.header ul.sidenav li a {
  width: 100%;
}
.menu-icon {
  width: 40px;
  display: table-cell;
}
