body {
  background-color: red;
}
.offcanvas {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 120px;
  background-color: #adadad;
  height: 100%;
  padding-top: 5%;
  transition: width 1s;
  z-index: 999;
  overflow-x: hidden;
}
.offcanvas:hover {
  width: 320px;
}
/*
.menu-text {
  display:none;
}
*/
.menu-text {
  display: table-cell;
}
.offcanvas:hover .menu-text {
  display: table-cell;
}
ul.sidenav {
  display: table;
  float: none;
  margin: 0px;
  padding: 0px;
}
ul.sidenav li {
  display: table-row;
}
ul.sidenav li,
ul.sidenav li a {
  display: block;
  width: 320px;
}
ul.sidenav li a {
  color: #000000;
  text-decoration: none;
}
ul.sidenav li a:hover {
  color: #ffffff;
  background-color: #000000;
}
.menu-icon {
  width: 40px;
  display: table-cell;
  padding: 10px;
}
ul.sidenav li a:hover .menu-icon {
  color: #ffffff;
  fill: #ffffff;
}
